---
import themeColors from '../../../node_modules/daisyui/theme/object';
import ActiveIcon from '@icons/check-circle.svg';
const themeIndicatorColors = ['--color-base-content', '--color-primary', '--color-secondary', '--color-accent'];
const { name, theme } = Astro.props;
---

<li>
	<label class="rounded-box flex w-full items-center justify-start gap-1 border-none p-2 outline-none">
		<div
			class="border-base-content/25 inline-grid w-fit flex-none grid-flow-row grid-cols-2 gap-0.5 rounded-md border p-1 transition-colors"
			style={`background-color: ${themeColors[theme]['--color-base-100']};`}
		>
			{
				themeIndicatorColors.map((color) => {
					return (
						<span
							class="bg-base-content size-2 rounded-full"
							style={`background-color: ${themeColors[theme][color]};`}
						/>
					);
				})
			}
		</div>
		{/* <ThemeRadio /> */}
		<input type="radio" name={name} value={theme} aria-label={theme} class="theme-controller peer sr-only" />
		<span class="ml-1 truncate">{theme}</span>
		{/* show checkmark if theme is active, hidden otherwise*/}
		<ActiveIcon class="ml-auto hidden size-6 peer-checked:inline" />
	</label>
</li>
