---
import { PostPreview } from '@components';
import ArrowLeft from '@icons/arrow-left.svg';
import ArrowRight from '@icons/arrow-right.svg';
const { prev, next } = Astro.props;
---

<div class="flex flex-row justify-between py-4">
	{
		prev && (
			<PostPreview IconStart={ArrowLeft} title={prev.data.title} class="max-w-[33%] min-w-0" href={prev.data.slug}>
				{prev.data.description}
			</PostPreview>
		)
	}
	{
		next && (
			<PostPreview IconEnd={ArrowRight} title={next.data.title} class="max-w-[33%] min-w-0" href={next.data.slug}>
				{next.data.description}
			</PostPreview>
		)
	}
</div>
